#options { width:640px; margin:0 auto; }
#option-title, #save-options, #ver { text-align: center; margin:10px; }

.inner-check {margin:0 20px;}

#txt-keywords { width:450px; margin:0 20px 0 0;}

.ad-type-title { width:40px; display:inline-block; }
.ad-type { margin:0 4px; display:inline-block; }

#total-blocked { float:right; padding:2px;}

#copyright {
	font-size: 12px;
	color: #aaa;
	text-align: center;
	margin-top:12px;
}

#copyright a {
	color: #aaa;
	text-decoration: none;
}

#copyright a:hover {
	background: #333;
	color: #eee;
}

#donation {
    margin:8px;
    text-align: center;
}


#paypal {
	display: inline-block;
	width: 240px;	
}

#alipay {
	display: inline-block;	
	width: 180px;	
}

#alipay-qr {
	display: inline-block;	
	width: 60px;	
}

.vbar {
	border-right: 1px solid #999;	
	display:inline-block;
	width: 1px;
	margin: 4px 20px;
}

.input-name { width:180px; }
.input-password {width:100px;}
.input-comment {width:100px;}
.op-title {font-size:14px; font-weight:bold; margin:4px 0;}
.account-info { margin:2px 0; }
