#options { width:640px; margin:0 auto; }
#author {margin:20px 0;}

.input-name { width:240px; }
.input-password {width:100px;}
.op-title {font-size:14px; font-weight:bold; margin:0 0 12px 0;}
.account-info { margin:2px 0; }
